<a href="https://colab.research.google.com/github/azkacakep/strukturdata_G.231.22.0066/blob/main/pratikum2_G_231_22_0066.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def SelectionSort(angka):
   for pos_tujuan in range(len(angka)-1,0,-1):
    pos_max = 0
    for x in range(1,pos_tujuan+1):
      max_sementara = angka[pos_max]
      if max_sementara <angka[x]:
       pos_max = x
    angka[pos_max],angka[pos_tujuan] = angka[pos_tujuan],angka[pos_max]

angka = [50,10,40,20,80,10,30]
SelectionSort(angka)
print(angka)

[10, 10, 20, 30, 40, 50, 80]

In [ ]:
list1 = ["Apang", 60, True, "Male"]
print(list1)

['Apang', 60, True, 'Male']

In [ ]:
data = ("SQL", "Python", "Colab")
print(data)

('SQL', 'Python', 'Colab')

In [ ]:
#contoh penggunaan dictionary

print("\ncontoh 1")
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

contoh 1
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict={'Name': 'Zee', 'Age': '19', 'Idol': 'Jkt48'}
print("dict=[Name]:", dict["Name"])
print("dict=[Age]:", dict["Age"])
print("dict=[Idol]:", dict["Idol"])

dict=[Name]: Zee
dict=[Age]: 19
dict=[Idol]: Jkt48

In [ ]:
#Update dictionary python

dict = {'Name': 'Zee', 'Age': 19, 'Idol': 'Jkt48'}
dict['Age'] = 18; # Mengubah entri yang sudah ada
dict['School'] = "Theater" # Menambah entri baru

print("dict['Age']:", dict['Age'])
print("dict['School']:", dict['School'])

dict['Age']: 18
dict['School']: Theater

In [ ]:
tup1 = ('zee','marsha','oniel', ["gen7, gen9, gen8"])
tup2 = (7,9,8)
tup3 = "z","m","o"

print(tup1)
print(tup2)
print(tup3)

('zee', 'marsha', 'oniel', ['gen7, gen9, gen8'])
(7, 9, 8)
('z', 'm', 'o')

In [ ]:
print("program saya")
tuplex = ("azka", "ambon", "cakep", "cuyy", "ganteng")
print(tuplex)
tuplex = tuplex + ("farchani",)
print(tuplex)
tuplex = tuplex[:1] + ("iya", "wduhhh", "dudung") + tuplex[:1]
print(tuplex)
listx = list(tuplex)
listx.append("oke")
tuplex = tuple(listx)
print(tuplex)

program saya
('azka', 'ambon', 'cakep', 'cuyy', 'ganteng')
('azka', 'ambon', 'cakep', 'cuyy', 'ganteng', 'farchani')
('azka', 'iya', 'wduhhh', 'dudung', 'azka')
('azka', 'iya', 'wduhhh', 'dudung', 'azka', 'oke')